<template>
  <form id="main" v-cloak>
    <div class="bar">
      <a class="list-icon" v-bind:class="{ 'active': layout == 'list'}" v-on:click="layout = 'list'"></a>
      <a class="grid-icon" v-bind:class="{ 'active': layout == 'grid'}" v-on:click="layout = 'grid'"></a>
    </div>

    <ul v-if="layout == 'grid'" class="grid">
      <li v-for="a in articles" :key="a.num">
        <a v-bind:href="a.url" target="_blank"><img v-bind:src="a.image.large" /></a>
      </li>
    </ul>

    <ul v-if="layout == 'list'" class="list">
      <li v-for="a in articles" :key="a.num">
        <a v-bind:href="a.url" target="_blank"><img v-bind:src="a.image.small" /></a>
        <p>{{a.title}}</p>
      </li>
    </ul>
  </form>
</template>

<script src="./ImageSort.js"></script>
<style src="./ImageSort.css" scoped></style>
