<template>
  <div class="image">
    <ImageSort />
  </div>
</template>

<script>
import ImageSort from '@/components/ImageSort/ImageSort.vue'
export default {
  name: 'image',
  components: {
    ImageSort
  }
}
</script>
